<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /blogging_platform/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>



